<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.solutiontofarming">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SolutionToFarming"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AddAgriEquipmentActivity"
            android:exported="false" />
        <activity
            android:name=".DiscussionForumActivity"
            android:exported="false" />
        <activity
            android:name=".CropRecommendInputActivity"
            android:exported="false" />
        <activity
            android:name=".CropRecommendHomeActivity"
            android:exported="false" />
        <activity
            android:name=".ShowSearchedRidesActivity"
            android:exported="false" />
        <activity
            android:name=".NewsActivityNew"
            android:exported="false" />
        <activity
            android:name=".AddWareHouseActivity"
            android:exported="false" />
        <activity
            android:name=".WareHouseServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AddTransportRideActivity"
            android:exported="false" />
        <activity
            android:name=".SendVerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".SelectPlaceActivity"
            android:exported="false" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".APINewsActivity"
            android:exported="false" />
        <activity android:name=".RideRequestSentActivity" />
        <activity android:name=".ShowSearchedEquipmentActivity" />
        <activity android:name=".AgriLandAddedActivity" />
        <activity android:name=".ShowNewsActivity" />
        <activity android:name=".WeatherForecastActivity" />
        <activity android:name=".NoMyRidesActivity" />
        <activity android:name=".ShowMyRidesActivity" />
        <activity android:name=".GetRideActivity" />
        <activity android:name=".WeatherDetailsActivity" />
        <activity android:name=".AgriEquipmentServiceActivity" />
        <activity android:name=".ShowAvailableAgriEquipmentsActivity" />
        <activity android:name=".EquipmentAddedActivity" />
        <activity android:name=".ShowAgriEquipmentActivity" />
        <activity android:name=".AddAgriEquipDetailsActivity" />
        <activity android:name=".temp" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity android:name=".SearchTransportActivity" />
        <activity android:name=".VerifyMobileNoActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".LandRentServiceActivity" />
        <activity android:name=".TransportServiceActivity" />
        <activity android:name=".AddAgriLandActivity" />
        <activity android:name=".ShowAvailableAgriLandsActivity" />
        <activity android:name=".VerifyProfileActivity" />
        <activity android:name=".ShowRideDetailsActivity" />
        <activity android:name=".ShowAvailableRidesActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAXsfDGmffRx9ShDwA_C2MqPHzIjOOXEpo" />

        <activity android:name=".AddDriverDetailsActivity" />
        <activity android:name=".AddVehicleDetailsActivity" />
        <activity android:name=".AddRideDetailsActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".NoRidesActivity" />
        <activity android:name=".RideAddedActivity" />
        <activity android:name=".ScheduleTransportActivity" />
        <activity android:name=".ShowTransportActivity" />
        <activity android:name=".HomeNewsActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>